body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* background-color: #fffff9; */
  color: #fffff9;


  /*  */

  background:
  linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
  linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
  linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
  linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
  linear-gradient(90deg, #1b1b1b 10px, transparent 10px),

  background-color:#556;
  background-image: linear-gradient(30deg, #222 12%, transparent 12.5%, transparent 87%, #445 87.5%, #222),
  linear-gradient(150deg, #222 12%, transparent 12.5%, transparent 87%, #222 87.5%, #222),
  linear-gradient(30deg, #222 12%, transparent 12.5%, transparent 87%, #222 87.5%, #222),
  linear-gradient(150deg, #222 12%, transparent 12.5%, transparent 87%, #222 87.5%, #222),
  linear-gradient(60deg, #1b1b1b 25%, transparent 25.5%, transparent 75%, #1b1b1b 75%, #1b1b1b),
  linear-gradient(60deg, #1b1b1b 25%, transparent 25.5%, transparent 75%, #1b1b1b 75%, #1b1b1b);
  background-size:80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;

}

.tagline {
  width: 40%;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .tagline {
    width: 80%;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fffff9;
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
  color: #fffff9;
  padding: 0 20px;
  box-shadow: 0 0px 8px rgba(255,255,255, 0.5);

}

.hamburger {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: #fffff9;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
}

/* Responsive styles */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    display: none;
  }

  .nav-links li {
    margin: 0;
  }

  .nav-links a {
    padding: 10px;
    border-radius: 0;
  }

  .nav-links.active {
    display: flex;
  }
}

.nav-links li {
  display: inline;
  margin: 0 15px;
}

.nav-links a {
  color: #fffff9;
  text-decoration: none;
  padding: 8px;
  border-radius: 10px;
}

.nav-links a:hover {
  box-shadow: 0 0px 8px rgba(255,255,255, 0.5);
}

.hero {


  color: #fffff9;
  text-align: center;
  padding: 50px 10px;
}

.btn {
  background-color: #0069d9;
  color: #fff;
  padding: 20px 30px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

.btn:hover {
  box-shadow: 0 0 12px rgb(0,0,0);
  border: 1px solid black;
  padding: 19px 29px;
}

.services-section, .about-section, .testimonials-section, .contact-section {
  padding: 40px 20px;
  text-align: center;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.about-section ul {
  text-align: left;
  /* width: 100%; */
}

li {
  padding: 2px;
}

.services-section {
  text-align: center;

}

.service-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin: 0 auto;
  max-width: 1200px; /* Adjust max-width as needed */
}

.service-item {
  color: #fffff9;  
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
  padding: 20px;
  box-shadow: 0 0px 8px rgba(255,255,255, 0.5);
  border-radius: 8px;
  color: #fffff9;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.service-item img, video {
  border-radius: 10px;
}

.carousel-image {
  display: none;
  width: 100%;
}

.carousel-image.active {
  display: block;
}

.c-button {
  border: none;
  background: none;
  border-radius: 30px;
  padding: 0 10px;
  margin-top: 10px;
  font-size: 30px;
  color: #fffff9;
}


footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* 
 */

 .creative-pattern {
  background: linear-gradient(-45deg, #ee7752, #C80000, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
  gap: 10px;
  padding: 10px;
}

.image-grid img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Adjusts the image size to cover the grid item */
}

@media (max-width: 600px) {
  .image-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

.quote-box {
  background-color: rgba(255, 255, 255, 0.9);
  border-left: 5px solid #007BFF;
  margin: 20px 0;
  padding: 15px;
  position: relative;
  font-family: Arial, sans-serif;
  border-radius: 5px;

}

.quote-text {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  margin: 0;
  position: relative;
}

.quote-author {
  font-size: 16px;
  color: #666;
  margin-top: 10px;
  text-align: right;
  font-style: italic;
}

#contact {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

#contact h2 {
  margin-top: 0;
}

#contact p {
  margin: 10px 0;
}

#contact a {
  color: #0066cc;
  text-decoration: none;
}

#contact a:hover {
  text-decoration: underline;
}


#contact {
  color: #fffff9;  
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
  padding: 80px;
  box-shadow: 0 0px 8px rgba(255,255,255, 0.5);
  border-radius: 8px;
  color: #fffff9;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}